*{
    background-color: #eeeded;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #666;
    line-height: 16px;

}
.img-top{
    margin-top:0px;
    padding: 0;
    width: 100%;
    background-attachment:  center;
    height: 80px;
}

.header{
    background-color: #eeeded;
    margin-top: 0px;
    padding: 0;
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.title-img{
    background-color: #eeeded;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 18%;
    height:100%
}
.language{
    background-color: #eeeded;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height:80%;
}

.search-bar{
   background-color: #eeeded;
    width: 40%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    height: 40px;
    width: 100%;
    border: none;
    background-color: white;
}
.search-bar button{
    width: 46px;
    border-radius: 0 4px 4px 0;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.search-hot{
    height: 33px;
    line-height: 33px;
    max-width: 480px;
    overflow: hidden;
    position: absolute;
  left: -50;
  top: 20%;
  
}
.search-hot a {
    padding-right: 5px;
    text-decoration: none;
    color: #4d82b8;  
}
.search_btn i {
    color: white;
    width: 5%;
    height: 40px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 0;
    word-spacing: 0;
    width: 46px;
    border-radius: 0 4px 4px 0;
    background: #4d82b8;
    opacity: 1;
}
.signin{
    background-color: #eeeded;
    width: 10%;
    height:50%;
}
.wishlist{
    background-color: #eeeded;
    width: 10%;
    height:50%;
}
.cart{
    background-color: #eeeded;
    margin-right: 10%;
    width: 10%;
    height:50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-right: right;
}
.cart i{
    color: #666;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 14px;
      background: #ff0000;
      color: #fff;
      padding: 2 8px;
      vertical-align: top;
      margin-left: -10px; 
  }
  .cart-word{
    text-align: center;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #666;
    line-height: 16px;
    -webkit-text-size-adjust: none;
  }
  .wishlist{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    cursor :pointer;
  }
  .wishlist i{
    color: #666;
    font-size: 24px;
    text-align: center;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #666;
    line-height: 16px;
    -webkit-text-size-adjust: none;
}
.menu {
    display: relative;
    top:40%;
    right:10%;
}





/*          login                 */
.login-logo {
    width: 190px;
    margin: 0 auto;
    padding: 21px 0;
}
#loginForm{
    background-color: #fff;
}
.login-page{
    border-radius: 3px;
    width: 410px;
    background: #fff;
    margin: 0 auto;
    padding: 30px 44px;
    box-shadow: 0 2px 2px #ccc;
    text-align: center;
}
.other-login{
    background: #fff;
}
.other-login i{
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    outline: 0;
    background: #fff;
}
.login-box{
    background: #fff;
}
.login-box form {
    background: #fff;
}
.tt {
    font-size: 22px;
    padding-bottom: 24px;
    text-transform: capitalize;
    text-align: center;
    color: #333;
    font-weight: 450;
    background: #fff;
}
p{
    margin-bottom: 16px;
        color: #333;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        background: #fff;

}
.hd{
    height: 1px;
        width: 100%;
        position: relative;
        background: #fff;
        border-top: 1px solid #e6e6e6;
        margin-top: 26px;
        margin-bottom: 26px;
        background: #fff;
}
.hd i {
    border: 1px solid #fff;
    display: block;
    position: absolute;
    width: 50px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    align-items: center;
    margin-top: -16px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ccc;
    font-style: normal;
    background: #fff;
}
.m_text{
    margin-bottom: 22px;
    background: #fff;
}
.text_c {
    position: relative;
    background: #fff;
}
.m_text i {
    background-image: url(../icon/login_icon.png?20210413);
    background-repeat: repeat-x;
    background-position: 0 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 14px;
    margin-top: -7px;
    margin-right: 10px;
    color: rgb(197, 191, 191);
    font-size :15px;
    background: #fff;

}

.bm_text[type=text], .bm_text[type=password] {
    height: 38px;
    line-height: 36px;
}

.m_text input {
    width: 100%;
    border-radius: 3px;
    height: 44px;
    line-height: 42px;
    padding-left: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    background: #fff;
    transition: border .2s linear 0s,box-shadow .2s linear 0s;
}
.m_text input[type="text"]::placeholder {  
    padding-left: 20px; 
} 
.m_text input[type="password"]::placeholder {  
    padding-left: 20px; 
} 
.forget_psw {
    color: #999;
    display: block;
    margin: -22px 0 22px;
    padding-top: 10px;
    text-decoration: underline;
    text-align: left;
    font-size: 13px;
    position: relative;
    background-color: #fff;
    z-index: 20;
}
.forget_psw a{
    color: #333;
    text-decoration: none;
    outline: 0;
}
.m_text .error_info {
    color: #ce352c;
    display: none;
}
.error_info::after {
    background-image: url(../icon/login_icon.png?20201111);
    background-repeat: repeat-x;
    left: 0;
    top: 6px;
    margin-top: 0;
    background-size: 188.8px 128px;
    background-position: -35.2px 0;
    width: 13px;
    height: 13px;
    position: absolute;
    display: block;
    content: '';
}

.bm_text {
    display: inline-block;
    width: 100%;
    min-width: 90px;
    padding: 0 10px;
    text-align: left;
    font-size: 12px;
    color: #666;
    background: 0 0;
    border-radius: 0;
    border: 1px solid #ddd;
}

.bm_btn {
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-radius: 3px;
    font-size: 16px;
}
.bm_btn:hover {
    background-color: #f90;
}
.bm_btn {
    display: inline-block;
    width: 100%;
    min-width: 90px;
    height: 38px;
    padding: 0 10px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    border-radius: 2px;
    background-color: #f92;
    text-transform: capitalize;
    border: none;
}

.create_account {
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
    background-color: #fff;
    font-size :14px;
}
.create_account em {
    margin-right: 7px;
    font-style: normal;
    color: #333;
    background-color: #fff;
    text-emphasis-style: normal;
}

.create_account a {
    color: #4d82b8;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}
.agress_c p{
font-size:13px;
text-align:left;
}
.agress_c {
    margin-bottom: 5px;
}
.agress_c input {
    margin-right: 10px;

}
button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox], label, select {
    cursor: pointer;
}
input, pre, select, textarea {
        font-size: 13px;
        outline: 0;
    }
button, input, pre, select, textarea {
        font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        line-height: 16px;
        box-shadow: none!important;
    }
.agress_c a {
        margin-left: 5px;
        color: #4d82b8;
        font-size:13px;
        background-color:white;
    }
.hq_points {
  color: #999;
  margin: 5px 5px 10px;
  font-size:13px;
  background:#fff
}
.m_nav_category {
    max-width: 1920px;
    margin: 0 auto;
    background: #fff;
    height: 52px;
    
}
.nav_c {
    height: 52px;
    background: #fff;
    display:flex;
    align-items: center;
}
.w {
    width: 1200px;
    margin-left: 200px;
    margin-right: auto;
}
.m_nav_category {
    background: #fff;
    height: 52px;
}
.m_nav_category {
    max-width: 1920px;
    margin: 0 auto;
}
.m_nav_category .nav_l {
    position: relative;
    width: 240px;
    display: flex;
    justify-content:center;
    align-items: center;
    background: #fff;
    height: 100%;
}
.m_nav_category .nav_l .category {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 240px;
    border-bottom: 0;
    height: 100%;
    line-height: 52px;
    position: relative;
    padding: 0 40px 0 34px;
    color: #333;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    border-right: 0;
}
.m_nav_category .nav_l .category i {
    position: absolute;
    right: 20px;
    top: 18px;
    line-height: 1;
    background-color: #fff;
}

.m_nav_category .nav_l .category .tt {
    font-size: 14px;
    padding: 0;
    font-weight: 700;
}
.category {
    height:240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_r {
    margin: top 52px;
    width: 960px;
    height: 52px;
    float: right;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.m_nav_category .nav_r ul {
    margin-left: -1px;
    padding-left: 25px;
    background-color: #fff;
}
ul {
    list-style-type: none;
    background-color:#fff;
}

.m_nav_category .nav_r li {
    float: left;
    height: 52px;
    padding-right: 10px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.m_nav_category .nav_r li a {
    display: block;
    width: 100%;
    line-height: 52px;
    font-size: 14px;
    height: 52px;
    text-decoration: none;
    color: #333;
    text-align: center;
    padding: 0 20px;
    background: #fff;
}
.bm_hot_tag {
    position: relative;
}
.m_nav_category .nav_r .bm_hot_tag:before, .m_nav_category .nav_r .bm_new_tag:before {
    top: 5px;
    right: -2px;
}
.m_nav_category .nav_r .nav_end_down {
    margin-top: -1px;
    z-index: 80;
}
.bm_dropdown {
    position: relative;
    display: inline-block;
}
.m_nav_category .nav_r .nav_end_down .dropdown_link {
    height: 52px;
    line-height: 52px;
}
.m_nav_category .nav_r li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #333;
    text-align: left;
    padding: 0 20px;
    background: #fff;

}
.bm_dropdown .dropdown_link {
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    height: 34px;
    line-height: 33px;
    border: 1px solid transparent;
    display: inline-block;
    z-index: 9;
    border-bottom-width: 0;
}
.m_nav_category .nav_r li a span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    display: inline-block;
    background-color: #fff;
}
.m_nav_category .nav_r .nav_end_down .dropdown_menu {
    top: 44px;
    width: auto;
    left: 14px;
    min-width: 100%;
    position:absolute;
    display: none;
    box-shadow: 4px 4px 0 0 rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    z-index: 8;
    margin-top: -1px;
    background: #fff;
    padding: 5px 0;
    border-radius: 4px;
}
.m_nav_category .nav_r .nav_end_down .dropdown_menu a {
    text-align: left;
    height: 30px;
    line-height: 30px;
    max-width: 200px;
    padding: 0 10px;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.m_nav_category .nav_r li a {
    display: block;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}
.m_nav_category .nav_r .nav_end_down {
    margin-top: -1px;
    z-index: 80;
}
[class*=" icon_"], [class^=icon_] {
    font-family: TT_font!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.m_nav_category i.icon_sidebar {
    display: none;
}
.m_nav_category .nav_r li.nav_brand {
    display:flex;
    justify-content:center;
    background-color:#fff;
    align-items:center;
    margin: top 10px;
}
.img a{
    float: left;
    height: 52px;
}
.img{
    padding: 0;
    display: block!important;
    width: 135px;
    height: 52px;
    line-height: 52px;
    list-style: none;
}
.img {
    *width: 100%;
    max-width: 100%;
}
.img {
    border: 0;
    display:inline-block;
    vertical-align: middle;
}
.bm_dropdown .dropdown_link .icon_bottom {
    transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    transform: scale(.6,.6);
}
.last{
    width:300px;
}

/* full banner */

.full_banner {
    width: 100%;
    height: 474px;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

  @keyframes fade{
    from{
      opacity:0.4;
    }
    to{
      opacity:1;
    }
  }
  
  
  #slider{
    width:100%;
    height: 100%;
    object-fit: contain;
    overflow:hidden;
  }
  
  .slides{
    overflow:hidden;
    animation-name:fade;
    animation-duration:1s;
    display:none;
  }
  
  img{
    width:100%;
  }
  
  #dot{
    
position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  }
  .dot{
    display:inline-block;
    border-radius:80%;
    background:#d3d3d3;
    padding:8px;
    margin:10px 5px;
    background:transparent;
    display: none;
  }
  
  .active{
    background:black;
  }
  
  @media (max-width:567px){
    #slider{
      width:100%;
  
    }
  }
  .contentInside {
    padding: 0!important;
    box-sizing: border-box;
    background: 0 0;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #eeeded;
    display: flex;
    justify-content:center;
}
.floors{
    background-color: #eeeded;
}
.m_recomentd_column {
    height: 244px;
    overflow: hidden;
    background-color: #eeeded;
}
.lineBlockBox {
    display: table;
    width: 100%;
    font-size: 0;
    letter-spacing: -3px;
    word-spacing: -3px;
}
ul {
    list-style-type: none;
}
.m_recomentd_column li {
    width: 240px;
    text-align: center;
}
.lineBlockBox>* {
    zoom: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    letter-spacing: 0;
    word-spacing: 0;
}
.m_recomentd_column li .pic img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.m_recomentd_column li p {
    line-height: 30px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}
.fs3 {
    height: 328px;
    margin-top: 40px;
}
.fs3 .left_banner {
    width: 232px;
    float: left;
    height: 328px;
    margin-right: 10px;
}
.fs3 .right_wrap {
    float: left;
    width: 232px;
    height: 333px;
    margin-top: -5px;
}
.fs3 .right_wrap {
    float: left;
    height: 333px;
    margin-top: -5px;
}
.floor .m_carousel .carousel_list {
    padding-top: 5px;
}
.m_carousel .carousel_box .carousel_list {
    height: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.m_carousel .carousel_box .carousel_list {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}
.floor .m_carousel.slide_pro_wrap .carousel_box .m_product_box {
    background: #fff;
    padding: 16px;
    height: 100%;
}
.floor .m_carousel.slide_pro_wrap .carousel_box .product_img {
    width: 200px;
    height: 200px;
}
.m_carousel.slide_pro_wrap .carousel_box .product_img {
    width: 168px;
    height: 168px;
}
.m_carousel.slide_pro_wrap .carousel_box .product_img a {
    display: block;
    width: 100%;
    height: 100%;
}
.m_carousel.slide_pro_wrap .carousel_box .product_img a {
    display: block;
    width: 100%;
    height: 100%;
}
.floor .m_product_box .product_title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
    margin-top: 6px;
    line-height: 16px;
    max-height: 32px;
}
.floor .m_product_box .product_title a {
    line-height: 16px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.floor .m_progress_bar {
    margin: 0 0 4px;
}
.floor .m_progress_bar .bar_wrap {
    background: #ccc;
    height: 8px;
    width: 100%;
}
.m_progress_bar .bar_wrap {
    *zoom: 1;
    vertical-align: middle;
    font-size: 12px;
    letter-spacing: 0;
    word-spacing: 0;
    width: 130px;
    height: 10px;
    background: #f2f2f2;
    border-radius: 5px;
    width: 168px;
    position: relative;
}
.carousel_list li {
    width: 232px;
    float: left;
    margin-right: 5px;
}
.m_progress_bar .bar_wrap .bar_wrap_cont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:10px;
    width: 168px;
    border-radius: 5px;
    background: #f90;
}
.m_progress_bar .bar_sale {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 14px;
}
.carousel_list li {
    width: 232px;
    float: left;
    height: 333px;
    margin-right: 5px;
}
.floor .m_progress_bar .bar_sale .pro_sell {
    color: #f60;
}
.m_progress_bar .bar_sale .pro_count {
    margin-right: 1px;
}
.m_product_box .product_price {
    line-height: 16px;
    margin: 3px 0 0;
}
.m_product_box .product_price .current_price {
    font-size: 16px;
    font-weight: 700;
    color: #f60;
}
.m_product_box .product_price .original_price {
    font-size: 12px;
    text-decoration: line-through;
    margin-top: 3px;
    color: #999;
}